<title>CartShopping</title>
<%=render 'layouts/header' %>  
<%= form_for(@cart) do |c|%>
  <%= c.fields_for :cartItem do |ff| %>
      
  
</div>
  <% end %>
  
  <% @cart.products.each do |p|%>
  <%end%>   
      
  <%= c.submit "Create my account", class: "btn btn-primary" %>
<%end%>

-----------------------------------------------------
<%= form_for @cart do |f| %>
   <%=f.text_field :id%>
     <%@cart.cartItems.each do |aa| %>
       <%=fields_for(aa) do |b|%>
         <%=Product.find(aa.product_id).name%>
         <%=b.hidden_field :product_id%>
         <%=b.text_field :quantity,class: "form-control"%>
       <%end%>
       <%=aa.product.name %>
       <%=aa.quantity%>
       <br>
   <%end%>
   <%= f.submit "Update" %>
<% end %>
---------------------------------------------------------------------------------------
<%= form_for @cart do |f| %>
   <%@cart.cartItems.each do |cart| %>
     <%= f.fields_for :cartItems do |cartItem| %>
       <%=cartItem.text_field :quantity, :value =>cart.quantity %>
     <%end%>
   <%end%>
    
  <%= f.submit "Update" %>
<% end %>


----------------------------------------------------------


<br>
fdfdfdfdf

<%= form_for @cart do |f| %>
  <% @cart.cartItems.each do |cartItem| %>
     <%=f.fields_for :cartItems, cartItem do |c| %>

     <%end%>
  <% end %>
 <%=f.submit "Update" %>
<% end %>fdf